//= require ./bootstrap

// Enable for Flat UI Pro (that means change `//` to `//=`)
// Also modify `flat-ui/index.less` to to correct relative location of
// the Flat UI Pro UI directory.

//= require ./flat-ui
//= require flat-ui/config

// Enable for Flat UI Free.
// Add search path to live-assets in `config/application.coffee`.

// require css/flat-ui.css

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

ul#errors.alert
  list-style-type: none !important
