extend layout
block main
  .navbar.homepage-navbar
    .navbar-inner
      .container-fluid: .row-fluid
        .brand: a(href='#'): +logo(title)
        ul.nav
          li: a(href='divisions') Divisions
          li: a(href='mps') MPs
          li: a(href='senators') Senators
          li: a(href='policies') Policies
          li: a(href='help') Help / FAQ
  .container
    #main
