extend layout
block main
  .navbar.homepage-navbar
    .navbar-inner
      .container: .row
        .brand: a(href='#'): +logo(title)
        ul.nav
          li: a(href='app/divisions') Divisions
          li: a(href='app/mps') MPs
          li: a(href='app/senators') Senators
          li: a(href='app/policies') Policies
          li: a(href='app/help') Help / FAQ

  #main
    .hero-unit.text-center
      br
      h1 See how your representitives vote
      .lead Vote vote vote

